$cor--1: #24292e ;
$cor--2: #1f1f1f ;
$cor--3: #2dba4e ;

#github:hover
{
    background-color: $cor--2;
    border: 1px solid $cor--2;

    .card__body--title
    {
        color: white;
    }

    .card__header--img
    {
        filter: drop-shadow(0px 0px 5px $cor--3);
    }


    .card__body--text{
        color: $cor--3;
    }

    .card__footer--btn
    {
        background-color: $cor--1;
        color: $cor--3;
        border: 1px solid $cor--2;

        &:hover{
            border: 1px solid $cor--1;
            box-shadow: 0px 0px 5px $cor--3;
        }
    }
    
}